.profiles-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
   
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.user-profile {
    display: flex;
    align-items: center;
    
    padding: 10px;
    border-radius: 10px;
}
.user-profile:hover {
    transform: scale(1.05);
}
.user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user-info {
    margin-left: 10px;
}
.user-name {
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.social-icons {
    margin-top: 5px;
}
.social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.social-icons img:hover {
    transform: scale(1.2);
}
@media(min-width: 600px) {
    .profiles-container {
        grid-template-columns: repeat(2, 1fr);
    }
}